In [1]:
import pandas as pd
from shapely.geometry import Point, shape

from flask import Flask
from flask import render_template
import json

In [2]:
data_path = './input/'
n_samples = 30000

In [3]:
dt = pd.read_csv(data_path + 'sample_runs_11102016.csv')

In [4]:
import datetime
print datetime.date.today()


dt["date_of_run"]=dt["start_time"].apply(lambda date: date.split(' ')[0])
dt["time_of_run"]=dt["start_time"].apply(lambda date: date.split(' ')[1].split('-')[0])
# df['State'] = df.area.apply(lambda x: x.split(',')[1] if len(x.split(','))>1 else '')

# dt["time_of_run"]=df['phone_brand'].apply(lambda phone_brand: top_10_brands_en[phone_brand] 
#                                                     if (phone_brand in top_10_brands_en) else 'Other')

2016-10-19

In [26]:
dt["timestamp"] = dt["date_of_run"]+' '+dt["time_of_run"]

In [32]:
data_path = './input/'
gen_age_tr = pd.read_csv(data_path + 'gender_age_train.csv')

dt = pd.read_csv(data_path + 'sample_runs_11102016.csv')
dt["date_of_run"]=dt["start_time"].apply(lambda date: date.split(' ')[0])
dt["time_of_run"]=dt["start_time"].apply(lambda date: date.split(' ')[1].split('-')[0])
dt["timestamp"] = dt["date_of_run"]+' '+dt["time_of_run"]

ev = pd.read_csv(data_path + 'events.csv')
ph_br_dev_model = pd.read_csv(data_path + 'phone_brand_device_model.csv')

df = gen_age_tr.merge(ev, how='left', on='device_id')
df = df.merge(ph_br_dev_model, how='left', on='device_id')

    #Get n_samples records

In [33]:
#df = df.merge(dt, how='left', on='timestamp')
df.head()

,device_id,gender,age,group,event_id,timestamp,longitude,latitude,phone_brand,device_model
0,-8076087639492063270,M,35,M32-38,NaN,NaN,NaN,NaN,小米,MI 2
1,-2897161552818060146,M,35,M32-38,NaN,NaN,NaN,NaN,小米,MI 2
2,-8260683887967679142,M,35,M32-38,2479656.0,2016-05-01 14:23:37,0.0,0.0,小米,MI 2
3,-4938849341048082022,M,30,M29-31,NaN,NaN,NaN,NaN,小米,红米note
4,245133531816851882,M,30,M29-31,NaN,NaN,NaN,NaN,小米,MI 3

In [11]:
dt_clean = dt["date_of_run"]

dt_clean.to_json(orient='records')
["2","2","1","0","3","3","3","3"]
cols_to_keeps = ['date_of_run', 'time_of_run']
dt_clean = dt[cols_to_keeps].dropna()
records = dt_clean.to_json(orient='records')

In [17]:
def get_age_segment(age):
    if age <= 22:
        return '22-'
    elif age <= 26:
        return '23-26'
    elif age <= 28:
        return '27-28'
    elif age <= 32:
        return '29-32'
    elif age <= 38:
        return '33-38'
    else:
        return '39+'

def get_location(longitude, latitude, provinces_json):
    
    point = Point(longitude, latitude)

    for record in provinces_json['features']:
        polygon = shape(record['geometry'])
        if polygon.contains(point):
            return record['properties']['name']
    return 'other'

data_path = './input/'
with open(data_path + '/geojson/china_provinces_en.json') as data_file:    
    provinces_json = json.load(data_file)
    
data_path = './input/dataaa/'
gen_age_tr = pd.read_csv(data_path + 'gender_age_train.csv')
ev = pd.read_csv(data_path + 'events.csv')
ph_br_dev_model = pd.read_csv(data_path + 'phone_brand_device_model.csv')

df = gen_age_tr.merge(ev, how='left', on='device_id')
df = df.merge(ph_br_dev_model, how='left', on='device_id')
    #Get n_samples records
df = df[df['longitude'] != 0].sample(n=n_samples)


top_10_brands_en = {'华为':'Huawei', '小米':'Xiaomi', '三星':'Samsung', 'vivo':'vivo', 'OPPO':'OPPO',
                        '魅族':'Meizu', '酷派':'Coolpad', '乐视':'LeEco', '联想':'Lenovo', 'HTC':'HTC'}

df['phone_brand_en'] = df['phone_brand'].apply(lambda phone_brand: top_10_brands_en[phone_brand] 
                                                    if (phone_brand in top_10_brands_en) else 'Other')

df['age_segment'] = df['age'].apply(lambda age: get_age_segment(age))

df['location'] = df.apply(lambda row: get_location(row['longitude'], row['latitude'], provinces_json), axis=1)

cols_to_keep = ['timestamp', 'longitude', 'latitude', 'phone_brand_en', 'gender', 'age_segment', 'location']
df_clean = df[cols_to_keep].dropna()

In [18]:
re = df_clean.to_json(orient='records')

In [22]:
# '[{"timestamp":"2016-05-06 15:40:12","longitude":124.02,"latitude":45.0,"phone_brand_en":"OPPO","gender":"F","age_segment":"22-","location":"Jilin"},{"timestamp":"2016-05-05 21:47:04","longitude":115.26,"latitude":33.05,"phone_brand_en":"vivo","gender":"M","age_segment":"27-28","location":"Anhui"},
# '[{"date_of_run":"2016-07-29","time_of_run":"07:01:37"},{"date_of_run":"2016-07-31","time_of_run":"07:56:05"}
#records